In [1]:
docA = "Saad fareed is my name"
docB = "I am the studemt of CS 18"

In [2]:
bowA = docA.split(" ")
bowB = docB.split(" ")

In [5]:
print(bowA)
print(bowB)

['Saad', 'fareed', 'is', 'my', 'name']
['I', 'am', 'the', 'studemt', 'of', 'CS', '18']

In [6]:
wordSet = set(bowA).union(set(bowB))

In [7]:
wordSet

{'18',
 'CS',
 'I',
 'Saad',
 'am',
 'fareed',
 'is',
 'my',
 'name',
 'of',
 'studemt',
 'the'}

In [8]:
wordDictA = dict.fromkeys(wordSet, 0) 
wordDictB = dict.fromkeys(wordSet, 0)

In [60]:
wordDictA

{'The': 0, 'cat': 0, 'bed': 0, 'dog': 0, 'my': 0, 'face': 0, 'sat': 0, 'on': 0}

In [9]:
for word in bowA:
    wordDictA[word]+=1
    
for word in bowB:
    wordDictB[word]+=1

In [10]:
wordDictA

{'name': 1,
 'studemt': 0,
 'Saad': 1,
 'I': 0,
 'of': 0,
 'the': 0,
 'is': 1,
 'fareed': 1,
 '18': 0,
 'CS': 0,
 'my': 1,
 'am': 0}

In [11]:
import pandas as pd
pd.DataFrame([wordDictA, wordDictB])

   name  studemt  Saad  I  of  the  is  fareed  18  CS  my  am
0     1        0     1  0   0    0   1       1   0   0   1   0
1     0        1     0  1   1    1   0       0   1   1   0   1

In [12]:
def computeTF(wordDict, bow):
    tfDict = {}
    bowCount = len(bow)
    for word, count in wordDict.items():
        tfDict[word] = count/float(bowCount)
    return tfDict

In [13]:
tfBowA = computeTF(wordDictA, bowA)
tfBowB = computeTF(wordDictB, bowB)

In [14]:
tfBowA

{'name': 0.2,
 'studemt': 0.0,
 'Saad': 0.2,
 'I': 0.0,
 'of': 0.0,
 'the': 0.0,
 'is': 0.2,
 'fareed': 0.2,
 '18': 0.0,
 'CS': 0.0,
 'my': 0.2,
 'am': 0.0}

In [15]:
tfBowB

{'name': 0.0,
 'studemt': 0.14285714285714285,
 'Saad': 0.0,
 'I': 0.14285714285714285,
 'of': 0.14285714285714285,
 'the': 0.14285714285714285,
 'is': 0.0,
 'fareed': 0.0,
 '18': 0.14285714285714285,
 'CS': 0.14285714285714285,
 'my': 0.0,
 'am': 0.14285714285714285}

In [16]:
def computeIDF(docList):
    import math
    idfDict = {}
    N = len(docList)
    
    idfDict = dict.fromkeys(docList[0].keys(), 0)
    for doc in docList:
        for word, val in doc.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log10(N / float(val))
        
    return idfDict

In [17]:
idfs = computeIDF([wordDictA, wordDictB])

In [18]:
def computeTFIDF(tfBow, idfs):
    tfidf = {}
    for word, val in tfBow.items():
        tfidf[word] = val*idfs[word]
    return tfidf

In [19]:
tfidfBowA = computeTFIDF(tfBowA, idfs)
tfidfBowB = computeTFIDF(tfBowB, idfs)

In [20]:
import pandas as pd
pd.DataFrame([tfidfBowA, tfidfBowB])

,name,studemt,Saad,I,of,the,is,fareed,18,CS,my,am
0,0.060206,0.000000,0.060206,0.000000,0.000000,0.000000,0.060206,0.060206,0.000000,0.000000,0.060206,0.000000
1,0.000000,0.043004,0.000000,0.043004,0.043004,0.043004,0.000000,0.000000,0.043004,0.043004,0.000000,0.043004